@{
    ViewData["Title"] = "Employee Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Employee Alanı</h2>
<p>Hoş geldin, @User.Identity.Name! Rolün: @ViewBag.Role</p>
<p>Email: @User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</p>
<a href="/MicrosoftIdentity/Account/SignOut">Çıkış Yap</a>
